<link
  rel="preload"
  as="image"
  href="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/cocos-cut_f27d48fd-6a46-499d-a384-765557442a9e.png?v=1681468371"
  imagesrcset="wolf_400px.jpg 400w, wolf_800px.jpg 800w, wolf_1600px.jpg 1600w"
  imagesizes="50vw"
>
<link
  rel="preload"
  as="image"
  href="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/exotic-cut.png?v=1681466842"
  imagesrcset="wolf_400px.jpg 400w, wolf_800px.jpg 800w, wolf_1600px.jpg 1600w"
  imagesizes="50vw"
>

<div id="getData" style="display: none">
  <!-- NR 1 -->

  <span id="productTitle1">{{ section.settings.producttitle1 }}</span>
  <span id="productTitle2">{{ section.settings.producttitle2 }}</span>
  <span id="productTitle3">{{ section.settings.producttitle3 }}</span>

  <div id="productDesc1">{{ section.settings.productdesc1 }}</div>
  <div id="productDesc2">{{ section.settings.productdesc2 }}</div>
  <div id="productDesc3">{{ section.settings.productdesc3 }}</div>

  <span id="imgSrc1">{{ section.settings.productimg1 | img_url: '1024x' | src }}</span>
  <span id="imgSrc2">{{ section.settings.productimg2 | img_url: '1024x' | src }}</span>
  <span id="imgSrc3">{{ section.settings.productimg3 | img_url: '1024x' | src }}</span>

  <!-- neue sorten, jeremias 31.01.24 -->
  <span id="productTitle4">{{ section.settings.producttitle4 }}</span>
  <div id="productDesc4">{{ section.settings.productdesc4 }}</div>
  <span id="imgSrc4">{{ section.settings.productimg4 | img_url: '1024x' | src }}</span>

  <span id="productTitle5">{{ section.settings.producttitle5 }}</span>
  <div id="productDesc5">{{ section.settings.productdesc5 }}</div>
  <span id="imgSrc5">{{ section.settings.productimg5 | img_url: '1024x' | src }}</span>

  <span id="productTitle6">{{ section.settings.producttitle6 }}</span>
  <div id="productDesc6">{{ section.settings.productdesc6 }}</div>
  <span id="imgSrc6">{{ section.settings.productimg6 | img_url: '1024x' | src }}</span>

  <div id="productBullets1"></div>
</div>

<section id="homeProductOverview">
  <div class="page-width">
    <h2 class="center special">Gönn dir!</h2>
    <div class="grid grid--3-col isolate grid--1-col-tablet-down">
      <div class="grid__item" id="chooseProduct">
        <div style="opacity: 0; visibility: hidden; height: 0;">CHOOSE PLACEHOLDER</div>
        <div class="fixme" id="fixChooseProductContainer">
          <div
            id="productOverviewRaspberry"
            class="productButton greenBackground active"
            data-productnr="1"
            style="background-image: url({{ section.settings.productimg1 | img_url: '1024x' | src }})"
          >
            <div class="coolbanner">Neu!</div>
          </div>

          <div
            id="productOverviewExotic"
            class="productButton whiteBackground "
            data-productnr="3"
            style="background-image: url({{ section.settings.productimg3 | img_url: '1024x' | src }})"
          >
            <div class="coolbanner">Neu!</div>
          </div>

          <div
            id="productOverviewKokos"
            class="productButton blueBackground "
            data-productnr="2"
            style="background-image: url({{ section.settings.productimg2 | img_url: '1024x' | src }})"
          ></div>

          <div
            id="productOverviewJuneberry"
            class="productButton purpleBackground newItem"
            data-productnr="4"
            style="background-image: url({{ section.settings.productimg4 | img_url: '1024x' | src }})"
          ></div>

          <div
            id="productOverviewWhitePeach"
            class="productButton lightYellowBackground newItem"
            data-productnr="6"
            style="background-image: url({{ section.settings.productimg6 | img_url: '1024x' | src }})"
          ></div>

          <div
            id="productOverviewSweetLemon"
            class="productButton greenBackground newItem"
            data-productnr="5"
            style="background-image: url({{ section.settings.productimg5 | img_url: '1024x' | src }})"
          ></div>
        </div>
      </div>
      <div class="grid__item">
        <div style="opacity: 0; visibility: hidden; height: 0;">3d PLACEHOLDER</div>
        <div id="canObject" class="fixme fixmeMobile">
          <img
            src="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/kk_mini-navi.png?v=1718292757"
            id="canPlaceholder"
          >
          <img
            class="hideCan"
            src="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/kaktus-back-mini.png?v=1718353730"
            id="canPlaceholderBack"
          >
        </div>
      </div>
      <div class="grid__item" style="position: static">
        <div style="opacity: 0; visibility: hidden; height: 0;">DESC PLACEHOLDER</div>
        <div class="descObject">
          <img
            id="descLogo"
            src="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/logo-kaktus-kick.png?v=1718293543"
          >
          <h3 id="productTitle">{{ section.settings.producttitle1 }}</h3>

          <div id="productDesc">{{ section.settings.productdesc1 }}</div>

          <div class="center">
            <a class="button button--primary" href="/pages/zum-shop">PARTNERSHOPS ANZEIGEN</a>
          </div>
        </div>
        <img
          src="https://cdn.shopify.com/s/files/1/0651/4271/8696/files/scroll-down-black.png?v=1688984123"
          style="position: absolute"
          id="scrollDownIcon"
        >
        <div class="descObject" id="descObjectBenefits">
          {%- for block in section.blocks -%}
            <div class="benefitArea">
              <img src="{{ block.settings.benefit-icon | img_url: '512x' | src }}" class="benefitIcon">
              <p>{{ block.settings.benefit }}</p>
            </div>
          {%- endfor -%}
          <p class="center" style="text-align: center !important">
            <center>{{ section.settings.secondWindowText }}</center>
          </p>

          <div class="center">
            <a class="button button--primary" href="/pages/zum-shop">PARTNERSHOPS ANZEIGEN</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  // PRODUCT OVERVIEW
  $(document).ready(function () {
    $(window).on('load', function () {
      function getOffsetTop(selector) {
        var element = $(selector);
        return element.length ? element.offset().top : null;
      }

      // Calculate offsets with checks to ensure elements exist
      var fixmeTop = getOffsetTop('.fixme');
      var fixmeMobileTop = getOffsetTop('.fixmeMobile');
      var changeCanTop = getOffsetTop('.greenBackground');
      var changeCanTopMobile = changeCanTop ? changeCanTop + 530 : null; // Adjusting with added 530
      var endFixmeTop = getOffsetTop('#descObjectBenefits');
      var endFixmeTopMobile = endFixmeTop ? endFixmeTop + 120 : null; // Adjusting with added 120

      if ($(window).width() > 744 && fixmeTop !== null && endFixmeTop !== null) {
        $(window).scroll(function () {
          var currentScroll = $(window).scrollTop();

          if (currentScroll >= fixmeTop && currentScroll <= endFixmeTop) {
            $('.fixme').addClass('fixed');
          } else {
            $('.fixme').removeClass('fixed');
          }

          if (changeCanTop !== null && currentScroll >= changeCanTop) {
            $('#canPlaceholder').addClass('hideCan');
            $('#canPlaceholderBack').removeClass('hideCan');
          } else {
            $('#canPlaceholderBack').addClass('hideCan');
            $('#canPlaceholder').removeClass('hideCan');
          }

          if (currentScroll >= endFixmeTop) {
            $('.fixme').addClass('endPosition');
          } else {
            $('.fixme').removeClass('endPosition');
          }
        });
      }

      if ($(window).width() < 744 && fixmeMobileTop !== null && endFixmeTopMobile !== null) {
        $(window).scroll(function () {
          var currentScroll = $(window).scrollTop();

          if (currentScroll >= fixmeMobileTop && currentScroll <= endFixmeTopMobile) {
            $('.fixmeMobile').addClass('fixed');
          } else {
            $('.fixmeMobile').removeClass('fixed');
          }

          if (changeCanTopMobile !== null && currentScroll >= changeCanTopMobile) {
            $('#canPlaceholder').addClass('hideCan');
            $('#canPlaceholderBack').removeClass('hideCan');
          } else {
            $('#canPlaceholderBack').addClass('hideCan');
            $('#canPlaceholder').removeClass('hideCan');
          }

          if (currentScroll >= endFixmeTopMobile) {
            $('.fixmeMobile').addClass('endPosition');
          } else {
            $('.fixmeMobile').removeClass('endPosition');
          }
        });
      }
    });

    productImg = $('#imgSrc1').text();
    $('#canPlaceholder').attr('src', productImg);
    var currentProduct;

    $('.productButton').click(function () {
      console.log('click');
      // switch to active
      $('.productButton').each(function () {
        $(this).removeClass('active');
      });
      $(this).addClass('active');
      // get product nr
      currentProduct = $(this).data('productnr');

      switch (currentProduct) {
        case 1:
          productTitle = $('#productTitle1').text();
          $('#productTitle').text(productTitle);
          productDesc = $('#productDesc1').html();
          $('#productDesc').html(' ');
          $('#productDesc').html(productDesc);
          productImg = $('#imgSrc1').text();
          $('#canPlaceholder').attr('src', productImg);
          $('#canPlaceholderBack').attr(
            'src',
            'https://cdn.shopify.com/s/files/1/0651/4271/8696/files/kaktus-back-mini.png?v=1718353730'
          );
          $('#descLogo').attr(
            'src',
            'https://cdn.shopify.com/s/files/1/0651/4271/8696/files/logo-kaktus-kick.png?v=1718293543'
          );
          break;
        case 2:
          productTitle = $('#productTitle2').text();
          $('#productTitle').text(productTitle);
          productDesc = $('#productDesc2').html();
          $('#productDesc').html(' ');
          $('#productDesc').html(productDesc);
          $('#canPlaceholderBack').attr(
            'src',
            'https://cdn.shopify.com/s/files/1/0651/4271/8696/files/cocos-back.png?v=1685977754'
          );
          productImg = $('#imgSrc2').text();
          $('#canPlaceholder').attr('src', productImg);
          $('#descLogo').attr(
            'src',
            'https://cdn.shopify.com/s/files/1/0651/4271/8696/files/logo-cocos.png?v=1681470142'
          );

          break;
        case 3:
          productTitle = $('#productTitle3').text();
          $('#productTitle').text(productTitle);
          productDesc = $('#productDesc3').html();
          $('#productDesc').html(productDesc);
          $('#canPlaceholderBack').attr(
            'src',
            ' https://cdn.shopify.com/s/files/1/0651/4271/8696/files/arctic-back.png?v=1718353932'
          );
          productImg = $('#imgSrc3').text();
          $('#canPlaceholder').attr('src', productImg);
          $('#descLogo').attr(
            'src',
            'https://cdn.shopify.com/s/files/1/0651/4271/8696/files/logo-arctic-ice.png?v=1718293572'
          );
          break;

        case 4:
          productTitle = $('#productTitle4').text();
          $('#productTitle').text(productTitle);
          productDesc = $('#productDesc4').html();
          $('#productDesc').html(productDesc);
          productImg = $('#imgSrc4').text();
          $('#canPlaceholder').attr('src', productImg);
          $('#canPlaceholderBack').attr(
            'src',
            'https://cdn.shopify.com/s/files/1/0651/4271/8696/files/juneberry-back.png?v=1706717454'
          );
          $('#descLogo').attr(
            'src',
            'https://cdn.shopify.com/s/files/1/0651/4271/8696/files/juneberry-logo_8e2c8f40-3f76-447d-b272-134c3b1e4f7a.png?v=1707389211'
          );
          break;

        case 5:
          productTitle = $('#productTitle5').text();
          $('#productTitle').text(productTitle);
          productDesc = $('#productDesc5').html();
          $('#productDesc').html(productDesc);
          productImg = $('#imgSrc5').text();
          $('#canPlaceholder').attr('src', productImg);
          $('#canPlaceholderBack').attr(
            'src',
            'https://cdn.shopify.com/s/files/1/0651/4271/8696/files/sweet-lemon-back.png?v=1706717454'
          );
          $('#descLogo').attr(
            'src',
            'https://cdn.shopify.com/s/files/1/0651/4271/8696/files/lemon-logo_f116040a-08aa-4a17-8894-04192b0ca27c.png?v=1707389243'
          );
          break;

        case 6:
          productTitle = $('#productTitle6').text();
          $('#productTitle').text(productTitle);
          productDesc = $('#productDesc6').html();
          $('#productDesc').html(productDesc);
          productImg = $('#imgSrc6').text();
          $('#canPlaceholder').attr('src', productImg);
          $('#canPlaceholderBack').attr(
            'src',
            'https://cdn.shopify.com/s/files/1/0651/4271/8696/files/white-peach-back.png?v=1706717453'
          );
          $('#descLogo').attr(
            'src',
            'https://cdn.shopify.com/s/files/1/0651/4271/8696/files/peach-logo_c8d3afa5-1c83-4520-866f-7a86412073aa.png?v=1707389264'
          );
          break;
      }
    });
  });

  $(document).ready(function () {
    $('#canPlaceholder').attr(
      'src',
      'https://cdn.shopify.com/s/files/1/0651/4271/8696/files/kk_mini-navi.png?v=1718292757'
    );
  });
</script>

{% schema %}
{
  "name": "Custom Product Overview",
  "settings": [
    {
      "id": "producttitle1",
      "type": "text",
      "label": "Produkttitel Produkt 1"
    },
    {
      "id": "productimg1",
      "type": "image_picker",
      "label": "Produktbild Produkt 1"
    },
    {
      "id": "productlogo1",
      "type": "image_picker",
      "label": "Logo Produkt 1"
    },
    {
      "id": "productdesc1",
      "type": "richtext",
      "label": "Produktbeschreibung Produkt 1"
    },
    {
      "id": "producttitle2",
      "type": "text",
      "label": "Produkttitel Produkt 2"
    },
    {
      "id": "productimg2",
      "type": "image_picker",
      "label": "Produktbild Produkt 2"
    },
    {
      "id": "productlogo2",
      "type": "image_picker",
      "label": "Logo Produkt 2"
    },
    {
      "id": "productdesc2",
      "type": "richtext",
      "label": "Produktbeschreibung Produkt 2"
    },
    {
      "id": "producttitle3",
      "type": "text",
      "label": "Produkttitel Produkt 3"
    },
    {
      "id": "productimg3",
      "type": "image_picker",
      "label": "Produktbild Produkt 3"
    },
    {
      "id": "productlogo3",
      "type": "image_picker",
      "label": "Logo Produkt 3"
    },
    {
      "id": "productdesc3",
      "type": "richtext",
      "label": "Produktbeschreibung Produkt 3"
    },
    {
      "id": "secondWindowText",
      "type": "richtext",
      "label": "Slogan-Text Benefits"
    },
    {
      "id": "producttitle4",
      "type": "text",
      "label": "Produkttitel Produkt 4"
    },
    {
      "id": "productimg4",
      "type": "image_picker",
      "label": "Produktbild Produkt 4"
    },
    {
      "id": "productlogo4",
      "type": "image_picker",
      "label": "Logo Produkt 4"
    },
    {
      "id": "productdesc4",
      "type": "richtext",
      "label": "Produktbeschreibung Produkt 4"
    },
    {
      "id": "producttitle5",
      "type": "text",
      "label": "Produkttitel Produkt 5"
    },
    {
      "id": "productimg5",
      "type": "image_picker",
      "label": "Produktbild Produkt 5"
    },
    {
      "id": "productlogo5",
      "type": "image_picker",
      "label": "Logo Produkt 5"
    },
    {
      "id": "productdesc5",
      "type": "richtext",
      "label": "Produktbeschreibung Produkt 5"
    },
    {
      "id": "producttitle6",
      "type": "text",
      "label": "Produkttitel Produkt 6"
    },
    {
      "id": "productimg6",
      "type": "image_picker",
      "label": "Produktbild Produkt 6"
    },
    {
      "id": "productlogo6",
      "type": "image_picker",
      "label": "Logo Produkt 6"
    },
    {
      "id": "productdesc6",
      "type": "richtext",
      "label": "Produktbeschreibung Produkt 6"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Benefits",
      "limit": 6,
      "settings": [
        {
          "id": "benefit",
          "type": "text",
          "label": "Benefit Text"
        },
        {
          "id": "benefit-icon",
          "type": "image_picker",
          "label": "Benefit Icon"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Product Overview",
      "category": "ADVANCED LAYOUT"
    }
  ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}
